@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mulish:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


body
{
    background: rgb(180,10,180);
    background: linear-gradient(80deg, rgba(180,10,180,1) 7%, rgba(90,14,128,1) 47%, rgba(51,5,98,1) 100%);
}
#img-tema{
    background-image: url('/img/WhatsApp Image 2023-05-17 at 13.35.58 (1).jpeg');
    width: 100%;
    height:1080px;
    background-repeat: no-repeat;
    background-size: 100%;
}

#texto_em_breve{
    font-size: 50px;

}
#img-botao-inscreva{
    border: solid 2px rgba(234, 172, 234, 0.869);
    height: 700px;
    background-color: rgb(53, 6, 53);

}
#img-bt{
    background-image: url('/img/menor2.jpg');
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
}



#imagem_1{
    background-image: url('/img/WhatsApp Image 2023-05-17 at 13.35.58 (1).jpeg');
    background-size: cover;
    background-position: center center;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.396);

}
#imagem_2{
    background-image: url('/img/Snapinsta.app_347651571_815662376674157_4500056330865232808_n_1080.jpg');
    background-size: cover;
    background-position: center center;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.396);

}
#imagem_3{
    background-image: url('/img/Snapinsta.app_346393358_975309906833495_1154047554683507729_n_1080.jpg');
    background-size: cover;
    background-position: center center;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.396);

}

#imagem_4{
    background-image: url('/img/WhatsApp Image 2023-05-22 at 13.33.29 (1).jpeg');
    background-size: cover;
    background-position: center center;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.396);

}

#imagem_5{
    background-image: url('/img/WhatsApp Image 2023-05-22 at 13.33.29 (2).jpeg');
    background-size: cover;
    background-position: center center;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.396);

}

#imagem_6{
    background-image: url('/img/WhatsApp Image 2023-05-22 at 13.33.29 (3).jpeg');
    background-size: cover;
    background-position: center center;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.396);

}

#imagem_7{
    background-image: url('/img/WhatsApp Image 2023-05-22 at 13.33.29.jpeg');
    background-size: cover;
    background-position: center center;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.396);

}

#imagem_8{
    background-image: url('/img/WhatsApp Image 2023-05-22 at 13.33.30 (1).jpeg');
    background-size: cover;
    background-position: center center;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.396);

}

#imagem_9{
    background-image: url('/img/WhatsApp Image 2023-05-22 at 13.33.30.jpeg');
    background-size: cover;
    background-position: center center;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.396);

}

#menu{
    background-color: rgba(29, 29, 29, 0.33);
 color: white;


}
section {
    text-align: center;
  }

  img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }



#caixa-texto{
background-color: rgba(35, 35, 140, 0.25);
    opacity: 0,2;
    color: white;
    text-shadow: 2px 2px 2px 2px black;
    box-shadow:6px 6px 6px 6px black ;
    text-align: center;

}
#botao-participar{

    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
}

#inscrever{

    background-color: rgba(35, 35, 140, 0.25);
    opacity: 0,2;
    color: white;
    text-shadow: 2px 2px 2px 2px black;
    box-shadow:6px 6px 6px 6px black ;
    text-align: center;


}

#bt-inscrever{
    margin-top: 10%;
    margin-left: 20%;
    width: 500px;
    height: 200px;
    border-radius: 20px;
    background: rgba(38, 5, 38, 0.661);
    background: radial-gradient(circle, rgba(38,5,38,1) 7%, rgba(48,10,67,0.9640231092436975) 47%, rgba(52,15,89,1) 100%);
    background-color: rgba(35, 35, 140, 0.25);
    opacity: 0,3;
    color: white;
    text-shadow: 2px 2px 2px 2px black;
    box-shadow:6px 6px 6px 6px black ;
    text-align: center;

}
#bt-int{
    width: 300px;
    height: 50px;
    border-radius: 20px;

}



















